@import "../../../Assets//Partials/Colors.scss";
.sectionHeader {
  margin: 1rem 0.5rem;
  h3 {
    color: $lightblue;
    font-size: 2rem;
    font-weight: 400;
  }
  p {
    font-size: 1.15rem;
    margin-bottom: 1rem;
  }
}
.artic {
  h4 {
    color: $lightblue;
    font-size: 1.3rem;
    margin: 1rem 0.5rem;
  }
  p {
    margin: 1rem 0.5rem;
  }
}

// TABLET VERSION
@media screen and (min-width: 768px) {
  .artic {
    h4 {
      font-size: 2rem;
    }
    p {
      font-size: 1.2rem;
    }
  }
}

//DESKTOP VERSION
@media screen and (min-width: 1200px) {
  .sectionHeader {
    margin: 2rem 0;
    h3 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
    }
  }

  .articGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    .artic {
      h4 {
        font-size: 1.8rem;
        margin: 0;
      }

      p {
        font-size: 1.2rem;
        margin: 1rem 0;
      }
    }
  }
}
