@import "../../../Assets/Partials/Colors.scss";
.navMain {
  background-color: $black;
  ul {
    display: flex;
    flex-direction: column;
    li {
      list-style: none;
      padding: 0.5rem;
      a {
        color: $grey;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0.3rem;
        transition: ease-in 0.2s;
      }
      a:hover {
        color: $lightblue;
      }
    }
  }
}

// TABLET VERSION
@media screen and (min-width: 768px) {
  .navMain {
    ul {
      flex-direction: row;
    }
  }
}

// DESKTOP VERSION
@media screen and (min-width: 1200px) {
  .navMain {
    ul {
      justify-content: flex-end;
      margin-right: 8rem;
    }
  }
}
